---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>

    <style>
      body {
        background-image: url('photos/backgrd9.png'); /* 这里填入图片的路径 */
        background-size: cover; /* 背景图片覆盖整个页面 */
        background-repeat: no-repeat; /* 背景图片不重复 */
        opacity: 0.5;
      }
    </style>
  </body>
</html>
